*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-image: url("img/triangle-mosaic.png");
}
img{
    position:absolute;
    left:25%;
}
h1{
    margin-bottom:10px;
}
label, input,textarea,select{
    display:block;
    margin-bottom:10px;
    border-radius:5px;
}

button{
    position:relative;
    left:6%;
    padding:10px;
    color:white;
    border-radius:10px;
}

.form{
    position:relative;
    left:40%;
}

.btnEnviar{
    background-color: green;
}

.btnLimpar{
    background-color:orangered;
}
