#root {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

form {
    background-color: rgba(67, 6, 46, 0.888);
    padding: 5%;
    border-radius: 5%;
    border: 2px solid white;
}

label {
    color: whitesmoke;
    font-size: large;
}

body {
    background-color: rgb(173, 171, 171);
}

h2 {
    color: rgb(67, 66, 66);
    font-size: xx-large;
}